:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #de2e39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);

  nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
  }

  nav a:hover {
    color: var(--secondaryColor);
  }

  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
}
