.change-info {
  padding: 2rem 0;

  &__form {
    @include flex-center;
    padding: 0 0 1rem 0;

    &-input {
      border: none;
      border-radius: 7px;
      margin: 0 0.5rem;
      padding: 0.5rem;
    }

    &-submit {
      @include transparent-button;
      margin: 0 0.5rem;

      &:hover {
        @include transparent-button_hover;
      }
    }
  }
}
