.auth-error-container {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    background-color: #ff000034;
    border: 1px solid #ff00008e;
    border-radius: 7px;
    padding: 0.2rem 0.8rem;
    text-align: center;
    transition: background 0.4s;
    cursor: default;

    &:hover {
      background-color: #ff000054;
      transition: background 0.4s;
    }
  }
}
