.table-container {
  font-family: 'Open Sans', sans-serif;
  color: #cac9ca;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8rem 0;

  tr {
    cursor: pointer;

    th {
      border: rgba(202, 201, 202, 0.26) 1px solid;
      background: map-get($dark-mode, jungle-green);

      h6 {
        color: map-get($dark-mode, champagne);
        padding: 0 0 0 1rem;
        margin: 0 0 0 1rem;
        font-weight: bold;
        font-size: 1rem;
        text-align: left;
      }
    }

    &:nth-child(odd) {
      background: rgba(map-get($table-colors, _2), 0.3);
    }

    &:nth-child(even) {
      background: rgba(map-get($table-colors, _2), 0.5);
    }

    &:hover {
      background-color: #464a52;
      -webkit-box-shadow: 0 6px 6px -6px #0e1119;
      -moz-box-shadow: 0 6px 6px -6px #0e1119;
      box-shadow: 0 6px 6px -6px #0e1119;
    }

    &:not(thead tr):hover {
      background: rgba(map-get($table-colors, _3), 0.3);
      color: white;
      font-weight: bold;
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: all;
      transition-timing-function: line;
      box-shadow: map-get($table-colors, _3) -1px 1px,
        map-get($table-colors, _3) -2px 2px, map-get($table-colors, _3) -3px 3px,
        map-get($table-colors, _3) -4px 4px, map-get($table-colors, _3) -5px 5px,
        map-get($table-colors, _3) -6px 6px;
      transform: translate3d(5px, -5px, 0);
    }
  }

  tbody {
    td {
      border: rgba(202, 201, 202, 0.26) 1px solid;
      font-weight: normal;
      font-size: 1rem;
      -webkit-box-shadow: 0 2px 2px -2px #0e1119;
      -moz-box-shadow: 0 2px 2px -2px #0e1119;
      box-shadow: 0 2px 2px -2px #0e1119;

      &:first-child {
        font-weight: bold;
        color: map-get($table-colors, _3);
      }
    }
  }

  td,
  th {
    padding: 1% 0.5% 1%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
