.dropdown {
  position: absolute;
  display: inline-block;
  padding: 0 3rem 0 0;
  right: 0;

  &__toggle {
    background-color: #0000006b;
    color: #ffffff;
    padding: 0.2rem 2.2rem;
    border-radius: 7px 7px 7px 7px;
    border: none;
    cursor: pointer;

    &:hover {
      border-radius: 7px 7px 0 0;
    }
  }

  &__items {
    display: none;
    position: absolute;
    background-color: #f9f9f967;
    width: 7rem;
    margin: 0.2rem 0 0 0;
    z-index: 1;
    border-radius: 0 7px 7px 7px;

    a {
      &:first-of-type {
        border-radius: 0 7px 0 0;
      }

      &:last-child {
        border-radius: 0 0 7px 7px;
      }

      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #a7a7a7af;
      }
    }
  }

  &:hover {
    .dropdown__items {
      display: block;
    }
  }
}
