.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  background: map-get($dark-mode, jungle-green);
  color: map-get($dark-mode, champagne);

  .footer-container {
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .footer-menus {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    .logo-container {
      @include flex-center;
      height: 100%;

      .website-logo {
        width: 100%;
        font-size: 2rem;
      }
    }

    .menu-item-footer {
      color: map-get($dark-mode, champagne);
      margin: 0.2rem 0;
      opacity: 0.7;
      text-decoration: none;
      transition: 0.4s;
    }

    .menu-item-footer:hover {
      opacity: 1;
      color: white;
    }

    .menu-title {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
    }

    .social-container {
      @include flex-center;
      height: 30px;
      width: 100%;

      .social-link {
        height: 100%;
        width: 30px;
        background-image: url('../images/linkedin.png');
        background-size: 70%;
        background-position: center;
        margin-right: 1rem;
        background-repeat: no-repeat;

        &:hover {
          opacity: 0.7;
        }

        &:nth-of-type(2) {
          background-image: url('../images/github.png');
        }

        &:nth-of-type(3) {
          background-image: url('../images/mundo.png');
        }
      }
    }
  }

  .copyright-container {
    width: 100%;
    @include flex-center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    .copyright {
      font-size: 12px;
      opacity: 0.7;
      font-weight: 400;
      padding: 10px 0;
    }
  }
}
