:root {
  --mainColor: #29335c;
  --secondaryColor: #de2e39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);

  h3 {
    padding: 0 1rem;
    position: absolute;
    left: 0;
  }

  nav {
    a {
      margin: 0 2rem;
      color: var(--textColor);
      text-decoration: none;

      &:hover {
        color: var(--secondaryColor);
      }
    }
  }

  .nav-login-btn {
    color: var(--textColor);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: var(--secondaryColor);
    }
  }

  .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
}
