.align-login {
  display: grid;
  padding: 10% 0;
  color: white;

  p {
    margin-block: 1.5rem;
  }

  .grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;

    .text--center {
      text-align: center;

      a {
        color: map-get($table-colors, _4);
        outline: 0;
        text-decoration: none;
      }

      a:focus,
      a:hover {
        text-decoration: underline;
      }
    }

    .icon {
      block-size: 1rem;
      display: inline-block;
      fill: var(--iconFill);
      inline-size: 1rem;
      vertical-align: middle;
    }
  }
}
