.profile {
  &__container {
    @include flex-center;
    font-size: 1.2rem;
    flex-direction: column;
    color: #fff;

    .boxes {
      @include flex-center;

      .left-box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 0.5rem;
      }

      .center-box {
        display: flex;
        flex-direction: column;
        border-left: 1px white solid;
        border-right: 1px white solid;
        gap: 0.5rem;
        padding: 0 0.5rem;
      }

      .right-box {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 0 0.5rem;

        .change-button {
          font-size: 0.8rem;
          border: none;
          padding: 0.1rem 0.6rem;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    &__user-songs {
      @include flex-center;
      flex-direction: column;
      width: 100%;
      padding: 2rem 0;
      gap: 1rem;

      .profile-button {
        @include transparent-button;

        &:hover {
          @include transparent-button_hover;
        }
      }
    }
  }
}
