* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: map-get($dark-mode, dark-purple);
  height: 128vh;
  width: 100%;
  position: relative;

  .title-page {
    color: map-get($dark-mode, champagne);
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }
}
