.align-signup {
  display: grid;
  margin-top: 15%;
  color: #9e9dd6;

  .grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;

    p {
      margin-block: 1.5rem;
    }

    .text--center {
      text-align: center;

      a {
        color: var(--anchorColor);
        outline: 0;
        text-decoration: none;
      }

      a:focus,
      a:hover {
        text-decoration: underline;
      }
    }

    .icon {
      block-size: 1em;
      display: inline-block;
      fill: var(--iconFill);
      inline-size: 1em;
      vertical-align: middle;
    }
  }
}
