.community-songs-container {
  @include flex-center;
  flex-direction: column;

  .content-container {
    width: 100%;

    .feedback {
      padding: 0 0 3rem 0;
      @include flex-center;
    }

    .table-legend {
      font-size: 0.8rem;
      padding: 0;
    }

    p {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      padding: 0 0 1rem 0;
    }
  }
}
