.results-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;

  .result-information-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .chords-gen {
      padding: 1rem;
      text-align: center;

      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      label {
        font-size: 1.2rem;
      }
    }

    button {
      color: #fff;
      background: #ffffff00;
      border: #fff 1px solid;
      border-radius: 7px;
      padding: 1rem 2rem;
      transition: background 0.4s;

      &:hover {
        transition: background 0.4s;
        background: #ffffff31;
      }
    }

    .musical-representation-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      color: aliceblue;
    }
  }

  .share-song-button-container {
    form {
      .input-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        input {
          border: #000000 1px solid;
          padding: 0.5rem;
          border-radius: 5px;
          margin: 0.5rem 0;
        }
      }

      button {
        border-radius: 7px;
        width: 100%;
        color: #fff;
        border: #fff 1px solid;
        background: #ffffff00;
        padding: 0.6rem 0;
        transition: background 0.4s;

        &:hover {
          transition: background 0.4s;
          background: #ffffff31;
        }
      }
    }
  }
}
