.rhythm-selector-container {
  height: 90vh;
  color: #fff;

  h5 {
    text-align: center;
    padding: 2rem 0 0 0.8rem;
    font-size: 1rem;
  }

  .rhythm-btn-component-container {
    padding: 2rem 0;
    @include flex-center;

    .rhythm-button-container {
      margin-left: 0.8rem;

      .rhythm-btn-title {
        font-size: 1.3rem;
      }

      .rhythm-btn-left {
        border: 1px solid white;
        background: rgba(black, 0);
        padding: 0.8rem 3rem;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 7px 0 0 7px;
      }

      .rhythm-btn-right {
        border: 1px solid white;
        background: rgba(black, 0);
        padding: 0.8rem 1rem;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0 7px 7px 0;
      }

      button:hover {
        background: rgba(white, 0.18);
      }
    }
  }

  .selected-rhythm-container-invisible {
    display: none;
  }

  .selected-rhythm-container-visible {
    visibility: visible;
    display: block;

    .selected-rhythm-container {
      padding: 1.5rem 0 0 0;
      @include flex-center;
      flex-direction: column;

      ul {
        list-style: none;
        width: 15%;
        flex-direction: column;
        color: map-get($dark-mode, champagne);

        li {
          padding: 0.2rem 0;
          font-size: 1.5rem;
          font-weight: bold;

          span {
            font-weight: 100;
          }
        }
      }

      .continue-button-container {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;

        .button {
          background: rgba(#000000, 0);
          border-radius: 7px;
          color: white;
          border: white solid 1px;
          padding: 1rem 1.5rem;
          cursor: pointer;

          &:hover {
            background: rgba(white, 0.18);
          }
        }
      }
    }
  }
}
