@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Titillium+Web:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #331d2c;
  height: 128vh;
  width: 100%;
  position: relative;
}
body .title-page {
  color: white;
  padding: 1rem 0;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.home-page {
  color: white;
}
.home-page .header {
  text-align: center;
  padding: 20px;
}
.home-page .content {
  text-align: center;
  max-width: 32rem;
  margin: 0 auto;
  padding: 2rem;
}
.home-page .content .cta-button {
  color: white;
  cursor: pointer;
  padding: 0.65rem 1.1rem;
  border: 1px solid white;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0);
  transition: background 0.4s;
  margin: 0.5rem;
}
.home-page .content .cta-button:hover {
  background: rgba(255, 255, 255, 0.18);
}
.home-page .content .changelogs-link {
  color: #cd6688;
  transition: color 0.3s;
}
.home-page .content .changelogs-link:hover {
  color: #aed8cc;
}

.o-card {
  margin: 20px auto;
}
.o-card--mod-small {
  max-width: 400px;
}
.o-card--mod-medium {
  max-width: 600px;
}
.o-card--mod-large {
  max-width: 800px;
}

.c-card {
  border-radius: 7px;
}
.c-card .u-visually-hidden {
  position: absolute;
  transform: translateX(9999px);
}
.c-card_body {
  padding: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.94);
}
.c-card_image {
  border-radius: 7px;
  width: 100%;
}
.c-card_title {
  font-size: 1.75em;
}
.c-card_secondary-title {
  font-size: 1.25em;
}
.c-card_text {
  font-size: 1em;
}
.c-card_expand-button {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: white;
  padding: 5px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgba(0, 0, 0, 0);
  border: white solid 1px;
}
.c-card_expand-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.c-card_expand-block {
  padding: 0 20px;
  height: 0px;
  overflow: hidden;
}

.community-songs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.community-songs-container .content-container {
  width: 100%;
}
.community-songs-container .content-container .feedback {
  padding: 0 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community-songs-container .content-container p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}

.results-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 0 0 5rem 0;
}
.results-page-container .result-information-container .song-information-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.results-page-container .result-information-container .song-information-container .chords-gen {
  padding: 1rem;
  text-align: center;
}
.results-page-container .result-information-container .song-information-container .chords-gen h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.results-page-container .result-information-container .song-information-container .chords-gen label {
  font-size: 1.2rem;
}
.results-page-container .result-information-container button {
  color: white;
  background: rgba(255, 255, 255, 0);
  border: white 1px solid;
  border-radius: 7px;
  padding: 1rem 2rem;
  transition: background 0.4s;
  cursor: pointer;
}
.results-page-container .result-information-container button:hover {
  transition: background 0.4s;
  background: rgba(255, 255, 255, 0.1921568627);
}
.results-page-container .result-information-container .musical-representation-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: aliceblue;
}
.results-page-container .share-song-button-container {
  padding: 0.8rem 0;
}
.results-page-container .share-song-button-container form {
  width: 100%;
}
.results-page-container .share-song-button-container form .p-1 {
  font-weight: bold;
}
.results-page-container .share-song-button-container form .p {
  font-size: 0.9rem;
}
.results-page-container .share-song-button-container form .input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.results-page-container .share-song-button-container form .input-container input {
  width: 100%;
  border: black 1px solid;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem 0;
}
.results-page-container .share-song-button-container form button {
  border-radius: 7px;
  width: 100%;
  color: #fff;
  border: #fff 1px solid;
  background: rgba(255, 255, 255, 0);
  margin: 0 0 1rem 0;
  padding: 0.6rem 0;
  transition: background 0.4s;
  cursor: pointer;
}
.results-page-container .share-song-button-container form button:hover {
  transition: background 0.4s;
  background: rgba(255, 255, 255, 0.1921568627);
}

.rhythm-selector-container {
  height: 90vh;
  color: #fff;
}
.rhythm-selector-container h5 {
  text-align: center;
  padding: 2rem 0 0 0.8rem;
  font-size: 1rem;
}
.rhythm-selector-container .rhythm-btn-component-container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rhythm-selector-container .rhythm-btn-component-container .rhythm-button-container {
  margin-left: 0.8rem;
}
.rhythm-selector-container .rhythm-btn-component-container .rhythm-button-container .rhythm-btn-title {
  font-size: 1.3rem;
}
.rhythm-selector-container .rhythm-btn-component-container .rhythm-button-container .rhythm-btn-left {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  padding: 0.8rem 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px 0 0 7px;
}
.rhythm-selector-container .rhythm-btn-component-container .rhythm-button-container .rhythm-btn-right {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  padding: 0.8rem 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
}
.rhythm-selector-container .rhythm-btn-component-container .rhythm-button-container button:hover {
  background: rgba(255, 255, 255, 0.18);
}
.rhythm-selector-container .selected-rhythm-container-invisible {
  display: none;
}
.rhythm-selector-container .selected-rhythm-container-visible {
  visibility: visible;
  display: block;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container {
  padding: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container ul {
  list-style: none;
  width: 15%;
  flex-direction: column;
  color: #efe1d1;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container ul li {
  padding: 0.2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container ul li span {
  font-weight: 100;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container .continue-button-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container .continue-button-container .button {
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  color: white;
  border: white solid 1px;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.rhythm-selector-container .selected-rhythm-container-visible .selected-rhythm-container .continue-button-container .button:hover {
  background: rgba(255, 255, 255, 0.18);
}

.tone-selector-page-container {
  display: flex;
  flex-direction: column;
  height: 93vh;
}
.tone-selector-page-container .circle-container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-navigation-breadcrumbs {
  display: flex;
  justify-content: center;
}
.c-navigation-breadcrumbs__directory {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.c-navigation-breadcrumbs__directory .c-navigation-breadcrumbs__link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: 0.2s color;
}
.c-navigation-breadcrumbs__directory .c-navigation-breadcrumbs__link:hover {
  transition: 0.4s color;
  color: white;
  outline: 0;
}

.c-navigation-breadcrumbs__active .c-navigation-breadcrumbs__link {
  text-shadow: 0 0 5px #696565, 0 0 5px #7a7777, 0 0 10px #726874, 0 0 15px #645c69, 0 0 20px #635068, 0 0 25px #4f4053, 0 0 20px #434747, 0 0 10px #343535, 0 0 125px #3f4242;
}

.radial-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(193, 206, 217, 0.8549019608);
  border: 0 solid transparent;
  border-radius: 50%;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.05);
  width: 600px;
  height: 600px;
  opacity: 1;
  position: relative;
  transition: opacity 0.1s ease, background 0.1s ease;
}
.radial-menu.is-hidden {
  animation-name: scale-down;
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.25, 1.25);
  transform: translate(-50%, -50%) scale(0) !important;
  opacity: 0;
}
.radial-menu.is-active {
  animation-name: scale-up;
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.25, 1.25);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.radial-menu.item-is-hovered {
  background-color: #726472;
  border-color: transparent;
  border-width: 0;
}

@keyframes scale-up {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@keyframes scale-down {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translateX(-50%, -50%) scale(0);
  }
}
.radial-menu__label {
  background-color: rgba(231, 236, 241, 0.8549019608);
  border: 3px solid rgba(206, 216, 225, 0.8549019608);
  border-radius: 50%;
  color: rgba(193, 206, 217, 0.8549019608);
  cursor: default;
  font-size: 16px;
  font-weight: bold;
  height: 100px;
  left: 50%;
  line-height: 94px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 4;
}

.radial-menu__menu-content {
  background-color: rgba(231, 236, 241, 0.8549019608);
  border: 3px solid rgba(206, 216, 225, 0.8549019608);
  border-radius: 50%;
  height: 90px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  z-index: 1;
}

.radial-menu__menu-item.hovered .radial-menu__menu-content {
  background-color: #625662;
  border-color: #625662;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.radial-menu__menu-content-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.radial-menu__menu-content-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 5;
}

.radial-menu__menu-content-description {
  color: rgba(255, 255, 255, 0.5);
  display: none;
  font-size: 0.4rem;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-transform: uppercase;
}

.radial-menu__menu-icon {
  background-color: transparent;
  height: 25px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  width: 25px;
  z-index: 3;
}
.radial-menu__menu-icon .oi {
  position: relative;
  opacity: 0.7;
  color: #331d2c;
  font-size: 1rem;
  line-height: 25px;
  transition: font-size 0.3s cubic-bezier(0.25, 0.25, 0.25, 1.5), color 0.1s ease;
}

.radial-menu.item-is-hovered .radial-menu__menu-icon {
  background-color: transparent;
}
.radial-menu.item-is-hovered .radial-menu__menu-icon .oi {
  color: rgba(168, 186, 202, 0.8549019608);
}

.radial-menu.item-is-hovered .radial-menu__menu-item {
  cursor: pointer;
}
.radial-menu.item-is-hovered .radial-menu__menu-item.hovered .radial-menu__menu-icon {
  background-color: transparent;
  height: 50px;
  width: 50px;
}
.radial-menu.item-is-hovered .radial-menu__menu-item.hovered .radial-menu__menu-icon .oi {
  color: #fff;
  font-size: 21px;
  line-height: 50px;
}

.radial-menu__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radial-menu__menu-item {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.radial-menu__menu-item.hovered {
  z-index: 10;
}

.radial-menu__menu-link,
.radial-menu__menu-link-bg {
  height: 43px;
  padding: 5px 20px;
  position: absolute;
  transform: translateY(-50%) perspective(200px) rotateY(-77.5deg) scaleX(1.25);
  transform-origin: 0;
  transform-style: preserve-3d;
  width: 254px;
}

.radial-menu__menu-link {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  display: block;
  z-index: 3;
  color: transparent;
}

.radial-menu__menu-link-bg {
  background-color: rgba(218, 226, 233, 0.8549019608);
  border-bottom: 1px solid rgba(212, 221, 229, 0.8549019608);
  border-top: 1px solid rgba(212, 221, 229, 0.8549019608);
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.05s ease;
  z-index: 1;
}
.radial-menu__menu-link-bg:after {
  background: rgba(193, 206, 217, 0.8549019608);
  content: "";
  display: none;
  height: 106%;
  right: -1px;
  position: absolute;
  top: 0;
  transition: all 0.1s ease;
  transform: translateY(-3%);
  width: 2px;
}

.radial-menu__menu-item.hovered .radial-menu__menu-link-bg {
  background-color: #726472;
  border: 0;
}
.radial-menu__menu-item.hovered .radial-menu__menu-link-bg:after {
  background: #726472;
  height: 106%;
  transform: translateY(-3%);
  width: 0;
}

.menu-items-select {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-items-select__label {
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.06rem;
  margin-bottom: 0.3rem;
}
.menu-items-select__select {
  width: 15%;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 2px;
  padding: 0.5rem 0.8rem;
}

.mt-5 {
  width: 100%;
}
.mt-5 .square_box {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 45px;
  opacity: 0.302;
}
.mt-5 .alert {
  padding: 0.1rem 0.8rem;
  border-radius: 3px;
}
.mt-5 .alert > .start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}
.mt-5 .alert > .start-icon {
  margin-right: 5px;
}
.mt-5 .alert:before {
  content: "";
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}
.mt-5 .alert .fa-times {
  -webkit-animation: blink-1 2s infinite both;
  animation: blink-1 2s infinite both;
  color: #fa4e4e;
}
.mt-5 .alert-simple.alert-danger {
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  color: #ff0303;
  text-shadow: 2px 1px #00040a;
  transition: 0.5s;
  cursor: pointer;
}
.mt-5 .alert-danger:hover {
  background-color: rgba(220, 17, 1, 0.33);
  transition: 0.5s;
}
.mt-5 .danger {
  font-size: 18px;
  color: #ff0303;
  text-shadow: none;
}

/**
* ----------------------------------------
* animation blink-1
* ----------------------------------------
*/
@-webkit-keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.loading-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-animation-container .load-spinner {
  margin-top: 25%;
  animation: rotator 1.4s linear infinite;
}
.loading-animation-container .load-spinner .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.score-output {
  background-color: aliceblue;
  height: 18rem;
}

.search-input-container {
  margin-top: 3%;
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 33px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(50%, -25%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-input-container .search-input {
  position: absolute;
  top: 5px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.tab-output {
  background-color: aliceblue;
  height: 18rem;
}

.table-container {
  font-family: "Open Sans", sans-serif;
  color: #cac9ca;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8rem 0;
}
.table-container tr {
  cursor: pointer;
}
.table-container tr th {
  border: rgba(202, 201, 202, 0.26) 1px solid;
  background: #3f2e3e;
}
.table-container tr th h6 {
  color: #efe1d1;
  padding: 0 0 0 1rem;
  margin: 0 0 0 1rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}
.table-container tr:nth-child(odd) {
  background: rgba(122, 49, 111, 0.3);
}
.table-container tr:nth-child(even) {
  background: rgba(122, 49, 111, 0.5);
}
.table-container tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}
.table-container tr:not(thead tr):hover {
  background: rgba(205, 102, 136, 0.3);
  color: white;
  font-weight: bold;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: line;
  box-shadow: #cd6688 -1px 1px, #cd6688 -2px 2px, #cd6688 -3px 3px, #cd6688 -4px 4px, #cd6688 -5px 5px, #cd6688 -6px 6px;
  transform: translate3d(5px, -5px, 0);
}
.table-container tbody td {
  border: rgba(202, 201, 202, 0.26) 1px solid;
  font-weight: normal;
  font-size: 1rem;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}
.table-container tbody td:first-child {
  font-weight: bold;
  color: #cd6688;
}
.table-container td,
.table-container th {
  padding: 1% 0.5% 1%;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 800px) {
  .table-container td:nth-child(4),
  .table-container th:nth-child(4) {
    display: none;
  }
}
@media (max-width: 500px) {
  .c-navigation-breadcrumbs__item:not(:nth-last-child(2)) {
    display: none;
  }
  .c-navigation-breadcrumbs__link:before {
    display: inline-block;
    content: "​";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a4ced3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round%5C'%3E%3Cline x1='19' y1='12' x2='5' y2='12'%3E%3C/line%3E%3Cpolyline points='12 19 5 12 12 5'%3E%3C/polyline%3E%3C/svg%3E") center/16px 16px no-repeat;
    width: 16px;
  }
}
@media (min-width: 501px) {
  .c-navigation-breadcrumbs__item:nth-last-child(n+2):after {
    display: inline-block;
    content: "​";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23dfa2a2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round%5C'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E") center/16px 16px no-repeat;
    width: 16px;
    margin: 0 8px;
  }
  .c-navigation-breadcrumbs__link {
    display: block;
    float: left;
  }
}

@media (max-width: 1300px) {
  body .tone-selector-page-container {
    height: 100vh;
  }
}
@media (max-width: 1120px) {
  body .community-songs-container .content-container .table-container {
    width: 95%;
  }
  body .tone-selector-page-container {
    height: 85vh;
  }
}
@media (max-width: 440px) {
  body .tone-selector-page-container .c-navigation-breadcrumbs {
    padding: 0;
    margin: 0;
  }
  body .tone-selector-page-container .circle-container {
    padding: 0;
    height: 70%;
  }
  body .tone-selector-page-container .circle-container .radial-menu {
    margin: 0;
    padding: 0;
    transform: scale(0.62);
  }
  body .rhythm-selector-container {
    height: 100%;
  }
  body .rhythm-selector-container .rhythm-btn-component-container {
    flex-direction: column;
  }
  body .rhythm-selector-container .selected-rhythm-container-invisible .selected-rhythm-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 360px) {
  body .tone-selector-page-container {
    height: 120vh;
  }
  body .tone-selector-page-container .circle-container {
    height: 60%;
  }
  body .tone-selector-page-container .circle-container .radial-menu {
    transform: scale(0.52);
  }
}

/*# sourceMappingURL=styles.css.map */
